# local folders
data/
model/
saved_models/

local_legacy/
Miniworld-serotoninTask/

# notebook checkpoints
.ipynb_checkpoints

# python workbench files
workbench*.py

# training images gz files
*.gz
*ubyte

# python cache files
*__pycache__/
*.pyc

src/serotonindata/mouse_data
src/serotonindata/data_new