# local folders
/data/
mouse_data/
model/
figures/
saved_models/
figures/
local_legacy/
Miniworld-serotoninTask/

# notebook checkpoints
.ipynb_checkpoints

# python workbench files
workbench*.py

# training images gz files
*.gz
*ubyte

# python cache files
*__pycache__/
*.pyc